# File: komodo.config
#
# Function: Default configuration file for FEI
#
# Date: 17 September 2002
#
# Version: $Id: komodo.config,v 1.4 2003/03/28 21:20:02 rap Exp $
#
# Notes:
#

# Parameterized DBMS statements are found in this file.
dbms.stmtsfile = KomodoMySQLStmts.xml

# Schema file used to validate DBMS statments XML file.
dbms.schemafile = KomodoDbStmts.xsd

# Location of database connection information.  This is the
# file system location under FEI_ROOT where the connection
# DataSource bindings reside.  For this server, the binding
# information will be found in $FEI_ROOT/config/.bindings.
db.registry = config

# Database security role for server-type dbms access.
db.role = komodoSwRole

# DataSource for the File manager DBMS.  DataSource RfsDB_Pool
# implements connection pooling.
db.FileMgrDS = KomodoDB_Pool

# A FEI server logs significant events in a database, specified by
# the datasource db.SigEventsDS.  The following are event types.
# If the value of an event type keyword is "on", then significant
# events of that type are logged to the sigEvents database.  To
# turn off significant event recording, set the value to "off".
#
# Security events include any suspicious activity that might indicate
# an attack on the system.  Denial of service, too many failed login
# attempts on a connection, too many "accessed denied" messages.
db.SigEvents.SECURITY = on

# Log any user-type security event.  These are probably benign, such
# as mis-typed password, or a denied attempt to perform some operation
# on a file type.
db.SigEvents.USERSECURITY = on

# Log any successful update vft.  This allows for sig event notification
# of vft changes.
db.SigEvents.VFT = off

# Ordinary user errors, for example, trying to access a file that does not
# exist.
db.SigEvents.USER = off

# Log ALERT events.  These are errors that should be looked at by
# operations to assure proper operation of the FEI server.  For example,
# file system full, or log full.
db.SigEvents.ALERT = off

# Log server state events, for example, server startup or server shutdown.
db.SigEvents.SERVERSTATE = off

# Problems with the File Manager DBMS.  Server down, connection retry
# events.  It probably doesn't make sense to register these events in
# SigEventDS, unless the SigEvents are logged in a database other than
# the file management database, probably on another server.
db.SigEvents.DBMS = off

